<section class="l-advantages">
	<div class="advantages">
		<div class="advantages__heading">
			<h2 class="h2">Expand your business</h2>
			<div class="h2-subheading">not your IT department</div>
		</div>
		<div class="advantages__block">
			<div class="advantages__example">
				<h3>Consultancy & Education</h3>
					{{mixins.advantage({
						img: 'adv_1.png',
						title: 'Consultancy & IT assessments',
						descr: 'Our consultancy-led approach ensures we deliver solutions that match your business needs, strategy and future roadmap.'
					})}}
					{{mixins.advantage({
						img: 'adv_2.png',
						title: 'True business specialists',
						descr: 'We are true business specialists not just technical guys. This allows us to truly look at IT through a business lens.'
					})}}
					{{mixins.advantage({
						img: 'adv_3.png',
						title: 'Education and training',
						descr: 'We train your employees and IT staff to ensure our solutions are  used to the fullest, and they can drive the success of your business.'
					})}}
			</div>
			<div class="advantages__example">
				<h3>Management & Support</h3>
					{{mixins.advantage({
						img: 'adv_4.png',
						title: '24/7 support, on- and off-site',
						descr: 'With us you don’t just get an accountmanager, you get a personally assigned IT pro, at your locations or remotely from our offices.'
					})}}
					{{mixins.advantage({
						img: 'adv_5.png',
						title: 'Self service',
						descr: 'We understand that you and your staff can manage a lot of things themselves, that’s why we have portals for all our services.'
					})}}
					{{mixins.advantage({
						img: 'adv_6.png',
						title: 'Full 360° outsourcing',
						descr: 'We can manage your IT from end-to-end, from hardware devices to networking and WiFi, whatever you need.'
					})}}
			</div>
		</div>
		<div class="advantages__btn">
			<button class="btn btn-advantages">Hostnordic Services</button>
		</div>
	</div>
</section>