<section class="section">
	<div class="certifications">
		<div class="certifications__heading">
		<h2 class="h2">Certifications and recognitions</h2>
		</div>
		<div class="certifications__block">
			<div><img src="img/certificate_1.png" alt="Dell"></div>
			<div><img src="img/certificate_2.png" alt="Revi IT"></div>
			<div><img src="img/certificate_3.png" alt="Microsoft Partner"></div>
			<div><img src="img/certificate_4.png" alt="Hosting certifikatet"></div>
			<div><img src="img/certificate_5.png" alt="Cisco"></div>
		</div>
	</div>
</section>