<section class="l-contacts">
	<div class="contacts">
		<div class="contacts__content">
			<h1 class="h1">Bring your success</h1>
			<div class="h1-subheading">one step closer today.</div>
			<div class="contacts__text">Talk with one of our specialists about your needs.</div>
			<div class="contacts__btn">
				<button class="btn btn-contact">Get in touch</button>
			</div>
			<div class="contact-us">
				<div class="contact-us__left">
					<div class="contact-us__title">Call us:</div>
					<div class="contact-us__title">E-mail us:</div>
				</div>
				<div class="contact-us__right">
					<div class="contact-us__item">+45 7022 9029</div>
					<div class="contact-us__item">info@hostnordic.com</div>
				</div>
			</div>
		</div>
		<div class="contacts__image" style="background-image: url(img/hero_2.jpg);"></div>
	</div>
</section>