<section class="l-customers">
	<div class="customers">
		<h2 class="h2">What our customers say</h2>
		<div class="customers__block">
			{{mixins.customer({
				img: 'customer_1.png',
				text: '“Hostnordic has certainly lived up to all of our expectations.”',
				person: 'Henrik Rask, Adm. Director',
				link: 'www.artogis.dk'
			})}}
			{{mixins.customer({
				img: 'customer_2.png',
				text: '“We experience Hostnordic as an extreme LEAN business with control of things, and it gives us the peace of mind relative to our customers.”',
				person: 'Bo Møller, owner and CEO',
				link: 'www.html24.dk'
			})}}
			{{mixins.customer({
				img: 'customer_3.png',
				text: '“Hostnordic is a sustainable collaborative and sparring partner, with whom we are extremely pleased.”',
				person: 'Carsten Meinertz Søe-Larsen, Deputy Director',
				link: 'www.bornerup.dk'
			})}}
		</div>
	</div>
</section>