<section class="l-footer">
	<div class="footer">
		<div class="footer__row">
			<div class="navigation">
				<div class="navigation__heading h4">Navigation</div>
				<ul class="navigation__list">
					<li><a href="#">Home</a></li>
					<li><a href="#">Solutions
						<ul class="navigation__sublist">
							<li><a href="#">Modern Workspace</a></li>
							<li><a href="#">Security & Compliancy</a></li>
							<li><a href="#">Business Continuity</a></li>
							<li><a href="#">Business Agility</a></li>
							<li><a href="#">Business Insights</a></li>
						</ul>
					</a></li>
					<li><a href="#">Services</a></li>
					<li><a href="#">About Us</a></li>
					<li><a href="#">Contact</a></li>
					<li><a href="#">Webshop</a></li>
					<li><a href="#">Servicedesk</a></li>
				</ul>
			</div>
			<div class="awards">
				<div class="awards__heading h4">Awards & Recognitions</div>
				<div class="awards__items">
					<img src="img/dell-f.png" alt="Dell">
					<img src="img/certificate_2.png" alt="Revi IT">
					<img src="img/microsoft-f.png" alt="Microsoft Partner">
					<img src="img/hosting-f.png" alt="Microsoft Partner">
					<img src="img/certificate_5.png" alt="Cisco">
				</div>
			</div>
			<div class="follow">
				<div class="follow__heading h4">Follow Us</div>
				<div class="footer__row">
					<a href="" class="follow__link">{{mixins.icon('in')}}</a>
					<a href="" class="follow__link">{{mixins.icon('fb')}}</a>
					<a href="" class="follow__link">{{mixins.icon('tw')}}</a>
					<a href="" class="follow__link">{{mixins.icon('yt')}}</a>
				</div>
			</div>
			<div class="footer__info">
				<div class="footer__box">
					<div class="h4">General information</div>
					<div class="footer__item">Telephone: +45 7022 9029</div>
					<div class="footer__item">Email: <a href="mailto:sales@hostnordic.com">sales@hostnordic.com</a>
					</div>
					<div class="footer__item">Support: <a href="mailto:service@hostnordic.com">service@hostnordic.com</a>
					</div>
				</div>
				<div class="footer__box">
					<div class="h4">Aarhus</div>
					<div class="footer__item">Bjørnholms Allé</div>
					<div class="footer__item">DK-8260 Viby J</div>
				</div>
				<div class="footer__box">
					<div class="h4">Copenhagen</div>
					<div class="footer__item">Baldersbuen 40</div>
					<div class="footer__item">2640 Hedehusene</div>
				</div>
			</div>
		</div>
		<div class="footer__languages">
			<div class="languages">
				{{mixins.icon('land')}}
				<ul class="languages__list">
					<li class="is-active"><a href="#">en</a></li>
					<li><a href="#">dk</a></li>
				</ul>
			</div>
		</div>
	</div>
</section>