<section class="section">
	<div class="solutions">
		<div class="solutions__info">Hostnordic is the perfect partner for all companies that want to focus on what matters most in any line of business: creating business success. We provide everything you need to minimise the time you spend on IT, and maximise your business growth, agility and security. Simply let us take care of your IT, and we make sure you reach all your business goals, whatever they may be.</div>
		<div class="solutions__heading">
			<h2 class="h2">A closer look at the solutions</h2>
			<div class="h2-subheading">that bring success within reach</div>
		</div>
		<div class="solutions__cards">
			{{mixins.solution({
				img: 'solution_1.jpg',
				title: 'Modern Workspace',
				subtitle: 'Enhance productivity and simplify collaboration.'
			})}}
			{{mixins.solution({
				img: 'solution_2.jpg',
				title: 'Security & Compliancy',
				subtitle: 'Safeguard your most valuable asset and stay compliant with regulations.'
			})}}
			{{mixins.solution({
				img: 'solution_3.jpg',
				title: 'Business Continuity',
				subtitle: 'Maximise stability and make sure all day-to-day operations are protected.'
			})}}
			{{mixins.solution({
				img: 'solution_4.png',
				title: 'Business Agility',
				subtitle: 'Improve the flexibility and the reliability of your infrastructure.'
			})}}
			{{mixins.solution({
				img: 'solution_5.png',
				title: 'Business Insights',
				subtitle: 'Be your own future-teller and enable advanced decision making.'
			})}}
		</div>
	</div>
</section>