.icon-fb {
  width: 0.53em;
  height: 1em;
  fill: #000;
}
.icon-in {
  width: 1em;
  height: 1em;
  fill: #181818;
}
.icon-land {
  width: 0.99em;
  height: 1em;
  fill: initial;
}
.icon-logo {
  width: 7.12em;
  height: 1em;
  fill: initial;
}
.icon-menu {
  width: 1em;
  height: 1em;
  fill: #FFF;
}
.icon-phone {
  width: 1em;
  height: 1em;
  fill: initial;
}
.icon-tw {
  width: 1em;
  height: 1em;
  fill: #181818;
}
.icon-yt {
  width: 1em;
  height: 1em;
  fill: initial;
}
